.progress{ 
    position:absolute;
    top: 104px;
    left: 158px;
    white-space: nowrap;
    margin-left: 4px;
    width: 338px;
}
p{

/* Semibold / 12 px | 18 px */

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
margin-bottom: -24px;

/* identical to box height, or 150% */


/* Grey/grey-8 */

color: #7A8AAC;

}
.textcolour {
    width: 22px;
height: 22px;

/* Regular/14px | 22px */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: right;

/* Gray / gray-7 */

color: #8C8C8C;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}